///////////////
// パレット
///////////////
$palette-white: white;
$palette-red: red;

// https://www.canva.com/ja_jp/learn/100-color-combinations/#image-449
$palette-mahogany: #42313a;
$palette-chestnum: #6c2d2c;
$palette-leather: #9f4636;
$palette-parchment: #f1dcc9;

// http://photoshopvip.net/86191
// 24
$palette-violet: #6e3667;
$palette-electric-lime: #88d317;
$palette-deep-plum: #1a0315;
$palette-shadow: #535353;


///////////////
// 定義
///////////////
// 背景色
$color-background: $palette-deep-plum;
// 非活性
$color-disabled: $palette-shadow;
// 奇数色
$color-odd: $palette-electric-lime;
// 偶数色
$color-even: $palette-violet;
// 選択背景色
$color-selected: rgba($palette-deep-plum, 0.5);
// ハイライト背景色
$color-hilight: rgba($palette-deep-plum, 0.3);
// モーダルoverlay背景色
$color-modal-overlay-background: rgba($palette-shadow, 0.8);
// 解析方法の変更枡の背景色
$color-how-to-changed: darkorange;
// 解析方法のトリガー枡の背景色
$color-how-to-trigger: rgba(lightsalmon, 0.8);
;
// 線の色
$color-line: $palette-white;
// デフォルト文字色
$color-text-default: $palette-white;
// 成功メッセージ色
$color-msg-success: $palette-electric-lime;
// エラーメッセージ色
$color-msg-error: $palette-red;
// お知らせメッセージ色
$color-msg-info: $palette-white;


// 奇数文字色
$color-text-odd: $palette-violet;
// 偶数文字色
$color-text-even: $palette-electric-lime;
// ハイライト文字色
$color-text-hilight: $palette-white;
// プレースホルダー文字色
$color-text-placeholder: rgba($palette-violet, 0.4);
// 通信モーダル文字色
$color-text-connect: $palette-electric-lime;
// デフォルトアイコン色
$color-icon-default: $palette-electric-lime;
// 奇数アイコン色
$color-icon-odd: $palette-violet;
// 偶数アイコン色
$color-icon-even: $palette-electric-lime;
// クリアアイコン色
$color-icon-clear: $palette-red;
// エラー色
$color-icon-error: $palette-red;

//  チェックボックスチェック
$color-checkbox-check: $palette-electric-lime;
//  チェックボックス未チェック
$color-checkbox-uncheck: $palette-white;
// チェックボックス非活性
$color-checkbox-disabled: $color-disabled